/* Header Styling */
.navbar {
  background-color: #821d30;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 98%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar nav ul li a:hover {
  text-decoration: underline;
}
